* {
	margin: 0;
	padding: 0;
}


/* universal styles */

body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

h3 {
	font-size: 3.5rem;
}


/* header */ 

header {
  background-image: url(/img/mainbackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px 20px;
  clear: both;
  min-height: 60vh;
  color:white;
}

.bg-dark {
	background-color: transparent !important;

}

div#navbarNavDarkDropdown.collapse.navbar-collapse {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
	justify-content: center;
	padding-right: 200px;
	padding-left: 200px;
	width:100%;
}

.navbar-brand img {
	margin-bottom:40px;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #000000;
}

.sm-icons {
	flex-direction: row;
  }

  @media only screen and (max-width: 960px) {
	.sm-icons .nav-item {
	  padding-right: 1em;
	}
  }

/* header */



.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}




.searchBar {
  position: absolute;
  bottom:10%;
  left: 0%;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 6;
}


.bg {
	display: block;
	background-size: cover;
	height: 768px;
	width: 100%;
	position: relative;
  }

  .bg h4 {
	bottom:10%;
	left: 0%;
	height: 75%;
	width: 100%;
	color: white;
	font-size: 2rem;
	font-weight: 900;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  }


  input {
	background: rgba(255, 255, 255, 0.199);
	border: none;
	position: relative;
	display: block;
	outline: none;
	width: 500px;
	height: 30p;
	top: 250px;
	margin: 0 auto;
	padding: 10px;
	color: #000000;
	font-weight: 700;
	border-radius: 25px;
	-webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
	box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  }


  
  ::-webkit-input-placeholder { color: #666;} 
  :-moz-placeholder { color: #666; }
  ::-moz-placeholder { color: #666; }
  :-ms-input-placeholder { color: #666; }




/* header ends */

/* intro */







/* CSS below */

.flex-img {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.container-img1 {
	flex-basis: 65%;
	position: relative;
	transition: all 0.5s ease;
}

.container-img2 {
	flex-basis: 35%;
	position: relative;
	transition: all 0.5s ease;
}

.container-img3 {
	flex-basis: 100%;
	position: relative;
	transition: all 0.5s ease;
}

.container-img1 img,
.container-img2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition: 0.5s ease;
}

.container-img3 img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	display: block;
	transition: 0.5s ease;
}

.overlay {
	position: absolute;
	color: #3f4342;
	font-weight: 900;
	font-size: 4.5vw;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	text-align: center;
	background: #ffffff90;
}

.overlay-sm-height {
	position: absolute;
	color: #3f4342;
	font-weight: 900;
	font-size: 4.5vw;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	text-align: center;
	background: #ffffff90;
}

.container-img1:hover .overlay,
.container-img2:hover .overlay,
.container-img3:hover .overlay-sm-height {
	opacity: 1;
}

.container-img1:hover img,
.container-img2:hover img,
.container-img3:hover img {
	opacity: 0.7;
}

.container-subscribe {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 50px 0;
	background-color: #3f4342;
}

.forms {
	display: flex;
	align-items: center;
}

.forms label {
	color: #fff;
	margin-right: 20px;
	font-weight: 600;
	padding-left: 10px;
	text-align: center;
}

.forms input {
	color: #fff;
	background-color: #3f4342;
	border: none;
	border-bottom: 1px solid #fff;
	margin-right: 20px;
	padding: 9px 12px;
}

.forms button {
	padding: 8px 20px;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #3f4342;
	margin-right: 10px;
}

.forms button:hover {
	background-color: #fff;
	border: 1px solid #3f4342;
	color: #3f4342;
}

/* Footer CSS below */

.site-footer {
	background-color: #26272b;
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #737373;
}
.site-footer hr {
	border-top-color: #bbb;
	opacity: 0.5;
}
.site-footer hr.small {
	margin: 20px 0;
}
.site-footer h6 {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px;
}
.site-footer a {
	color: #737373;
}
.site-footer a:hover {
	color: #3366cc;
	text-decoration: none;
}
.footer-links {
	padding-left: 0;
	list-style: none;
}
.footer-links li {
	display: block;
}
.footer-links a {
	color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
	color: #3366cc;
	text-decoration: none;
}
.footer-links.inline li {
	display: inline-block;
}
.site-footer .social-icons {
	text-align: right;
}
.site-footer .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
	background-color: #33353d;
}
.copyright-text {
	margin: 0;
}
@media (max-width: 991px) {
	.site-footer [class^="col-"] {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.site-footer {
		padding-bottom: 0;
	}
	.site-footer .copyright-text,
	.site-footer .social-icons {
		text-align: center;
	}
}
.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.social-icons li {
	display: inline-block;
	margin-bottom: 4px;
}
.social-icons li.title {
	margin-right: 15px;
	text-transform: uppercase;
	color: #96a2b2;
	font-weight: 700;
	font-size: 13px;
}
.social-icons a {
	background-color: #eceeef;
	color: #818a91;
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
	color: #fff;
	background-color: #29aafe;
}
.social-icons.size-sm a {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px;
}
.social-icons a.facebook:hover {
	background-color: #3b5998;
}
.social-icons a.twitter:hover {
	background-color: #00aced;
}
.social-icons a.linkedin:hover {
	background-color: #007bb6;
}
.social-icons a.dribbble:hover {
	background-color: #ea4c89;
}
@media (max-width: 767px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600;
	}
}
